# Solana network: devnet | mainnet-beta | testnet
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Custom RPC URL (optional, defaults to public cluster URL)
# NEXT_PUBLIC_RPC_URL=https://your-rpc-url.com

# Pool program ID (deployed on-chain)
NEXT_PUBLIC_POOL_PROGRAM_ID=33k7WbNmCBgwQMhH4Y9fQHJpkr7HS3GYKomZHbuBbPso

# Verifier program ID (deployed on-chain)
NEXT_PUBLIC_VERIFIER_PROGRAM_ID=GzJDDBmknqhJ9JkVuE18PnX7EGQSbv19QAHbfDxp3cuA
